# Encoding ==> this is the method to convert our categorical data into numerical data'

# 1). LabelEncodding ==> using this method, we can convert our target or one dimentional data

In [3]:
import numpy as np 
import pandas as pd

In [6]:
df=pd.read_csv("C:\\Users\\YASH\\OneDrive\\Desktop\\ty\\covid_toy.csv")

In [7]:
df.head(5)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [8]:
df=df.dropna()

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
lb=LabelEncoder()

In [11]:
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [13]:
df.sample(5) #random 5 samples

    age  gender  fever  cough  city  has_covid
70   68       0  101.0      1     1          0
9    64       0  101.0      0     1          0
54   60       0   99.0      0     3          1
87   47       1  101.0      1     0          0
36   38       0  101.0      0     0          0

In [14]:
 from sklearn.preprocessing import StandardScaler

In [15]:
sc=StandardScaler()

In [16]:
df_sc=sc.fit_transform(df)

In [17]:
df_new=pd.DataFrame(df_sc,columns=df.columns)

In [18]:
np.round(df.describe(),1)

        age  gender  fever  cough  city  has_covid
count  90.0    90.0   90.0   90.0  90.0       90.0
mean   43.0     0.4  100.8    0.4   1.3        0.4
std    24.7     0.5    2.1    0.5   1.1        0.5
min     5.0     0.0   98.0    0.0   0.0        0.0
25%    19.2     0.0   99.0    0.0   0.0        0.0
50%    45.0     0.0  101.0    0.0   1.0        0.0
75%    65.0     1.0  102.8    1.0   2.0        1.0
max    83.0     1.0  104.0    1.0   3.0        1.0

# Same thing on insurance data

In [153]:
df=pd.read_csv("C:\\Users\\YASH\\OneDrive\\Desktop\\ty\\insurance.csv")

In [154]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [155]:
df=df.dropna()

In [156]:
from sklearn.preprocessing import LabelEncoder

In [157]:
lb=LabelEncoder()

In [158]:
#encoding only in categorical data not on numerical
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['region']=lb.fit_transform(df['region'])

In [159]:
df.sample(5) #random 5 samples

     age  sex     bmi  children  smoker  region      charges
454   32    1  46.530         2       0       2   4686.38870
765   57    0  31.825         0       0       1  11842.62375
1     18    1  33.770         1       0       2   1725.55230
260   58    0  25.200         0       0       3  11837.16000
329   52    1  36.700         0       0       3   9144.56500

In [160]:
 from sklearn.preprocessing import StandardScaler

In [161]:
sc=StandardScaler()

In [162]:
df_sc=sc.fit_transform(df)

In [163]:
df_new=pd.DataFrame(df_sc,columns=df.columns)

In [164]:
np.round(df.describe(),1)

          age     sex     bmi  children  smoker  region  charges
count  1338.0  1338.0  1338.0    1338.0  1338.0  1338.0   1338.0
mean     39.2     0.5    30.7       1.1     0.2     1.5  13270.4
std      14.0     0.5     6.1       1.2     0.4     1.1  12110.0
min      18.0     0.0    16.0       0.0     0.0     0.0   1121.9
25%      27.0     0.0    26.3       0.0     0.0     1.0   4740.3
50%      39.0     1.0    30.4       1.0     0.0     2.0   9382.0
75%      51.0     1.0    34.7       2.0     0.0     2.0  16639.9
max      64.0     1.0    53.1       5.0     1.0     3.0  63770.4

# Normalization on insurance database

In [165]:
x=df.drop(columns =['sex'],axis=1)  ### independent columns
y=df['charges'] ###Target column

In [166]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [167]:
print(x.shape)
print(y.shape)

(1338, 6)
(1338,)

In [168]:
from sklearn.model_selection import train_test_split

In [169]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [170]:
print(df.shape)
print(x.shape)
print(y.shape)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1338, 7)
(1338, 6)
(1338,)
(1070, 6)
(268, 6)
(1070,)
(268,)

In [171]:
from sklearn.preprocessing import MinMaxScaler

In [172]:
mn=MinMaxScaler()

In [173]:
x_train_mn=mn.fit_transform(x_train)

In [174]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [175]:
np.round(x_train_new.describe(),1)

          age     bmi  children  smoker  region  charges
count  1070.0  1070.0    1070.0  1070.0  1070.0   1070.0
mean      0.5     0.4       0.2     0.2     0.5      0.2
std       0.3     0.2       0.2     0.4     0.4      0.2
min       0.0     0.0       0.0     0.0     0.0      0.0
25%       0.2     0.3       0.0     0.0     0.3      0.1
50%       0.5     0.4       0.2     0.0     0.7      0.1
75%       0.7     0.5       0.4     0.0     0.7      0.3
max       1.0     1.0       1.0     1.0     1.0      1.0

In [176]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

# normalization on tips dataset

In [177]:
df=pd.read_csv("C:\\Users\\YASH\\OneDrive\\Desktop\\ty\\tips.csv")

In [178]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [179]:
df=df.dropna()

In [180]:
from sklearn.preprocessing import LabelEncoder

In [181]:
lb=LabelEncoder()

In [182]:
#encoding only in categorical data not on numerical
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['day']=lb.fit_transform(df['time'])
df['time']=lb.fit_transform(df['time'])
df['size']=lb.fit_transform(df['size'])

# 2). OrdinalEncoder

In [183]:
df=pd.read_csv("C:\\Users\\YASH\\OneDrive\\Desktop\\ty\\covid_toy.csv")

In [184]:
df=df.drop(columns=['age','fever'])

In [185]:
df.head()

   gender cough     city has_covid
0    Male  Mild  Kolkata        No
1    Male  Mild    Delhi       Yes
2    Male  Mild    Delhi        No
3  Female  Mild  Kolkata        No
4  Female  Mild   Mumbai        No

In [186]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [187]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [188]:
from sklearn.preprocessing import OrdinalEncoder

In [195]:
oe=OrdinalEncoder(categories=[['Male','Female'],['Mild','Strong'],['Kolkata','Bangalore','Delhi','Mumbai'],['Yes','No']])

In [196]:
oe

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['Yes', 'No']])

In [197]:
oe.fit(df)

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['Yes', 'No']])

In [198]:
df_new=oe.transform(df)

In [202]:
oe.categories_ # '_' shows datatypes also

[array(['Male', 'Female'], dtype=object),
 array(['Mild', 'Strong'], dtype=object),
 array(['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'], dtype=object),
 array(['Yes', 'No'], dtype=object)]

In [203]:
df=pd.DataFrame(df_new,columns=df.columns)

In [204]:
df.sample(7)

    gender  cough  city  has_covid
65     1.0    0.0   1.0        1.0
98     1.0    1.0   3.0        1.0
9      1.0    0.0   2.0        1.0
42     0.0    0.0   2.0        0.0
58     0.0    1.0   3.0        0.0
36     1.0    0.0   1.0        1.0
74     1.0    1.0   2.0        1.0

In [ ]:
#perform standardation n normalization with label encoding